.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }

  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }

  .form-signin .checkbox {
    font-weight: normal;
  }

  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }

  .form-signin .form-control:focus {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .error {
    margin-top: 30px;
  }

  @import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to left, lightblue, rgb(62, 152, 255));
    background-size: 100%;

  }

  .login-box {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
  }

  .login-box h1 {
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #ffffff;
    margin-bottom: 50px;
    padding: 13px 0;
  }

  .textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #ffffff;

  }

  .textbox i {
    width: 26px;
    float: left;
    text-align: center;
  }

  .textbox input {
    border: none;
    outline: none;
    background: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
  }

  .btn {
    width: 100%;
    background: none;
    border: 2px solid #ffffff;
    color: rgb(255, 255, 255);
    padding: 5px;
    font-size: 18px;
    cursor: pointer;

    margin: 12px 0;
  }

  .btn:hover {
    width: 100%;
    background: none;
    border: 2px solid #ffffff;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    animation-duration: 0.5s;
  }

  #placeholder {

    color: white;
    background: #ffffff;

  }

  ::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
  }

  input:-moz-placeholder {
    color: rgb(255, 255, 255);

  }

  textarea:-moz-placeholder {
    color: rgb(255, 255, 255);
  }

  ​ img {

    position: fixed;

  }